@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* CSS Livraria */
/* Iníco Estilo header */
body, ul {
    margin: 0;
    padding: 0;
}

#menu a{
    color: black;
    text-decoration: none;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s;
    text-align: center;
    padding: 0 0.4em;
    font-size: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid #2bc76c;
    box-shadow: 1px 1px 2px #78a174;
}

#menu a:hover {
    font-size: 22px;
    border-bottom-left-radius: 15px; /* Arredondar canto abaixo e esquerdo */
    border-bottom-right-radius: 15px; /* Arredondar canto abaixo e direito */
    border-bottom: 0.1px solid #000000; 
    }

    #logo img {
        height: 40px;
    }

    #logo img:hover {
        box-shadow: 2px 2px 4px #cbcbcb;
        transition: 0.3s;
    }

    #header {
        box-sizing: border-box;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #e7e7e7;
        box-shadow: 3px 3px 6px #b1b1b1;
        /* Sombra do Menu */
    }


    #menu {
        display: flex;
        list-style: none;
        gap: 0.8rem; 
        /* Gap define o espaçamento entre linhas e colunas */
        /* rem unidade de medida relativa que varia de acordo com a dimensão do navegador ou dispositivo, por padrão, 1rem é igual a 16px */
    }

    #btn-mobile {
        display: none;
    }